<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arfan.hidayat.rocus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="Rocus"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rocus">
        <activity
            android:name=".tentang"
            android:exported="false" />
        <activity
            android:name=".quiz"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name=".corvus"
            android:exported="false" />
        <activity
            android:name=".pixel"
            android:exported="false" />
        <activity
            android:name=".nusantara"
            android:exported="false" />
        <activity
            android:name=".penjelasan"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainmenu"
            android:exported="true" />
    </application>

</manifest>